#container {
  margin: 20px;
  position: relative;
}

#container::before
{ content: "before element";
  color: #f00;
  font-size: 20px;
  left:1px
  position: absolute;
 
}



#container::after {
  content: "after element";
  color: #f00;
  font-size: 20px;
  position: absolute;

 
}
