#container {
  margin: 20px;
  position: relative;
}

#container::before, #container::after {
  content: "before element";
  color: #f00;
  font-size: 20px;
  position: absolute;
}

#container::before {
 
  top: 0;
}

#container::after {
  content: "after element";
  color: #f00;
  font-size: 20px;
  position: absolute;

  top: 0;
}

